/*CSS自定义滚动条的样式 【Chrome】适用*/

/*-----overflow相关属性说明【@前提@】-----*/

{overflow:visible}/*>>>>>>默认值：内容不会被修剪，超出部分显示在元素框外*/
{overflow:hidden;}/*>>>>>>内容被修剪，超出部分直接隐藏掉*/
{overflow:scroll;}/*>>>>>>内容被修剪，超出部分以滚动条的形式以便于查看*/
{overflow:auto;}/*>>>>>>>>！如果内容被修剪，超出部分以滚动条形式出现，即增加了自动适应性*/
{overflow:inherit;}/*>>>>>规定从该父元素继承overflow的值【IE全系列浏览器不支持此属性】*/

/*-----text-overflow-----*/
{text-overflow:clip;}/**--->修剪文本**/
{text-overflow:ellipsis}/**--->省略号显示被修剪得文本**/


/** Chrome适用 **/

/*
1. ::-webkit-scrollbar                滚动条整体部分
2. ::-webkit-scrollbar-thumb          滚动条里面的小方块，能向上向下移动（或向左向右移动）
3. ::-webkit-scrollbar-track          滚动条的轨道（里面装有Thumb）
4. ::-webkit-scrollbar-button         滚动条的轨道的两端按钮，由于通过点击微调小方块的位置。
5. ::-webkit-scrollbar-track-piece    内层轨道，滚动条中间部分
6. ::-webkit-scrollbar-corner         边角，即垂直滚动条和水平滚动条相交的地方
7. ::-webkit-resizer                  两个滚动条的交汇处上用于拖动调整元素大小的小控件
*/

/** IE适用 **/

/*
1. scrollbar-3dlight-color            滚动框的颜色以及滚动条箭头左上边缘的颜色
2. scrollbar-highlight-color          滚动条的3d高亮边框
3. scrollbar-face-color               滚动条小滑块的颜色 类比 ::-webkit-scrollbar-thumb
*/
